In [1]:
import pandas as pd

In [30]:
import numpy as np

In [32]:
import seaborn as sns

In [65]:
df=pd.read_csv("iris.csv")

In [41]:
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [73]:
df.shape

(150, 5)

In [75]:
df.species.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [77]:
group = df.species.unique()

In [79]:
data = {}
for i in group:
    data[i]=df["sepal_length"][df["species"]==i]

In [81]:
data

{'Iris-setosa': 0     5.1
 1     4.9
 2     4.7
 3     4.6
 4     5.0
 5     5.4
 6     4.6
 7     5.0
 8     4.4
 9     4.9
 10    5.4
 11    4.8
 12    4.8
 13    4.3
 14    5.8
 15    5.7
 16    5.4
 17    5.1
 18    5.7
 19    5.1
 20    5.4
 21    5.1
 22    4.6
 23    5.1
 24    4.8
 25    5.0
 26    5.0
 27    5.2
 28    5.2
 29    4.7
 30    4.8
 31    5.4
 32    5.2
 33    5.5
 34    4.9
 35    5.0
 36    5.5
 37    4.9
 38    4.4
 39    5.1
 40    5.0
 41    4.5
 42    4.4
 43    5.0
 44    5.1
 45    4.8
 46    5.1
 47    4.6
 48    5.3
 49    5.0
 Name: sepal_length, dtype: float64,
 'Iris-versicolor': 50    7.0
 51    6.4
 52    6.9
 53    5.5
 54    6.5
 55    5.7
 56    6.3
 57    4.9
 58    6.6
 59    5.2
 60    5.0
 61    5.9
 62    6.0
 63    6.1
 64    5.6
 65    6.7
 66    5.6
 67    5.8
 68    6.2
 69    5.6
 70    5.9
 71    6.1
 72    6.3
 73    6.1
 74    6.4
 75    6.6
 76    6.8
 77    6.7
 78    6.0
 79    5.7
 80    5.5
 81    5.5
 82    5.8
 83    6.0
 84    5.4
 85    6.0
 86    6.7
 87    6.3
 88    5.6
 89    5.5
 90    5.5
 91    6.1
 92    5.8
 93    5.0
 94    5.6
 95    5.7
 96    5.7
 97    6.2
 98    5.1
 99    5.7
 Name: sepal_length, dtype: float64,
 'Iris-virginica': 100    6.3
 101    5.8
 102    7.1
 103    6.3
 104    6.5
 105    7.6
 106    4.9
 107    7.3
 108    6.7
 109    7.2
 110    6.5
 111    6.4
 112    6.8
 113    5.7
 114    5.8
 115    6.4
 116    6.5
 117    7.7
 118    7.7
 119    6.0
 120    6.9
 121    5.6
 122    7.7
 123    6.3
 124    6.7
 125    7.2
 126    6.2
 127    6.1
 128    6.4
 129    7.2
 130    7.4
 131    7.9
 132    6.4
 133    6.3
 134    6.1
 135    7.7
 136    6.3
 137    6.4
 138    6.0
 139    6.9
 140    6.7
 141    6.9
 142    5.8
 143    6.8
 144    6.7
 145    6.7
 146    6.3
 147    6.5
 148    6.2
 149    5.9
 Name: sepal_length, dtype: float64}

In [91]:
df["sepal_length"][df["species"]=="Iris-setosa"]
#to take separate species

0     5.1
1     4.9
2     4.7
3     4.6
4     5.0
5     5.4
6     4.6
7     5.0
8     4.4
9     4.9
10    5.4
11    4.8
12    4.8
13    4.3
14    5.8
15    5.7
16    5.4
17    5.1
18    5.7
19    5.1
20    5.4
21    5.1
22    4.6
23    5.1
24    4.8
25    5.0
26    5.0
27    5.2
28    5.2
29    4.7
30    4.8
31    5.4
32    5.2
33    5.5
34    4.9
35    5.0
36    5.5
37    4.9
38    4.4
39    5.1
40    5.0
41    4.5
42    4.4
43    5.0
44    5.1
45    4.8
46    5.1
47    4.6
48    5.3
49    5.0
Name: sepal_length, dtype: float64

In [44]:
from scipy import stats

In [107]:
f_value , p_value = stats.f_oneway(data["Iris-setosa"],data["Iris-versicolor"],data["Iris-virginica"])

In [115]:
if p_value<0.075:
     print("H0 Reject null hypothesis, Ha accepts alternate hypothesis , no connection of the data")
else:
     print("H0 accept null hypothesis, Ha rejects alternate hypothesis, connection present in the data")

H0 Reject null hypothesis, Ha accepts alternate hypothesis , no connection of the data

In [7]:
df=pd.read_csv("Downloads/CSV SA/Wine_Quality_Data.csv")

In [9]:
df

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,color
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,white
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,white
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,white
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,white
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,white

In [18]:
group = df.quality.unique()

In [22]:
data = {}
for i in group:
    data[i]=df["sulphates"][df["quality"]==i]

In [24]:
data

{5: 0       0.56
 1       0.68
 2       0.65
 4       0.56
 5       0.56
         ...
 6481    0.38
 6483    0.50
 6487    0.54
 6491    0.54
 6493    0.46
 Name: sulphates, Length: 2138, dtype: float64,
 6: 3       0.58
 19      1.08
 20      0.53
 24      0.63
 29      0.59
         ...
 6489    0.44
 6490    0.46
 6492    0.50
 6494    0.46
 6496    0.32
 Name: sulphates, Length: 2836, dtype: float64,
 7: 7       0.47
 8       0.57
 16      0.75
 37      0.73
 62      0.62
         ...
 6469    0.36
 6475    0.59
 6485    1.08
 6486    0.79
 6495    0.38
 Name: sulphates, Length: 1079, dtype: float64,
 4: 18      0.50
 38      0.48
 41      0.51
 45      0.56
 73      0.53
         ...
 6373    0.46
 6378    0.40
 6403    0.35
 6438    0.40
 6477    0.35
 Name: sulphates, Length: 216, dtype: float64,
 8: 267     0.86
 278     0.82
 390     0.82
 440     0.82
 455     0.69
         ...
 6364    0.48
 6365    0.50
 6385    0.36
 6386    0.36
 6401    0.33
 Name: sulphates, Length: 193, dtype: float64,
 3: 459     0.57
 517     0.63
 690     0.54
 832     0.86
 899     0.49
 1299    0.40
 1374    0.51
 1469    0.55
 1478    0.52
 1505    0.63
 1850    0.50
 1852    0.43
 1893    0.38
 2044    0.40
 2339    0.37
 2472    0.28
 2633    0.74
 2828    0.32
 3016    0.63
 3083    0.50
 3287    0.63
 3530    0.37
 3649    0.55
 3972    0.54
 4686    0.44
 4864    0.44
 4906    0.38
 5008    0.43
 5409    0.52
 6344    0.64
 Name: sulphates, dtype: float64,
 9: 2373    0.46
 2419    0.61
 2426    0.48
 2475    0.36
 3204    0.42
 Name: sulphates, dtype: float64}

In [56]:
f_value , p_value = stats.f_oneway(data[3],data[4],data[5],data[6],data[7],data[8],data[9])
if p_value<0.075:
     print("H0 Reject null hypothesis, Ha accepts alternate hypothesis , no connection of the data")
else:
     print("H0 accept null hypothesis, Ha rejects alternate hypothesis, connection present in the data")

H0 Reject null hypothesis, Ha accepts alternate hypothesis , no connection of the data